body {
    font-family: serif;
    font-size: 12pt;
}

.class_name {
    font-size: 24pt;
    font-weight: bold;
    margin-left: 5pt;
    margin-right: 5pt;
}

.methods_block {
    margin-left: 20pt;
}

.signature {
    font-family: monospace;
}

.description {
    margin-left: 20pt;
}

pre {
    background-color: cornsilk;
    padding-top: 12pt;
    padding-bottom: 3pt;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
